@use './vars';

input[type='range'],
.slider {
	margin: 0 0;
	-webkit-appearance: none;
	height: 5px;
	background: #303030;
	outline: none;
	opacity: 1;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;

	// ANCHOR Progress&Volume
	&.progress,
	&.volume {
		position: absolute;

		// ANCHOR color things
		$c: #aa0000; //#7a00aa

		@mixin rangethumb() {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background: $c;
			cursor: pointer;
			border: none;
			border-radius: 100%;
		}
		@mixin rangeprogress() {
			background: $c;
			border: none;
			margin: 0 0;
			height: 100%;
		}

		// ANCHOR Mixin things
		&::-moz-range-thumb {
			@include rangethumb();
		}
		&::-range-thumb {
			@include rangethumb();
		}
		&::range-thumb {
			@include rangethumb();
		}
		&::-webkit-slider-thumb {
			@include rangethumb();
		}
		&::-ms-thumb {
			@include rangethumb();
		}
		// &::-webkit-slider-runnable-track,
		// &::-moz-range-track,
		// &::-ms-track,
		// &::-track,
		// &::-range-track,
		// &::-slider-thumb,
		// &::range-track,
		// &:track,
		// &:slider-thumb {
		// }
		&::-moz-range-progress {
			@include rangeprogress();
		}
		&::-ms-fill-lower {
			@include rangeprogress();
		}
	}

	// ANCHOR Progress
	&.progress {
		width: 100vw;
		top: 0;
		left: 0;
		transform: translate(0, -100%);
	}

	// ANCHOR Volume
	&.volume {
		width: 10vw;
		min-width: 128px;
		top: 50%;
		right: 10px;
		transform: translate(0, -100%);
	}
}
