html {
	background: #000;
}
body {
	background: #000000;
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
#VAR_playerid {
	position: fixed;
	/* top: 50%;
				left: 50%;
				width: auto;
				height: auto;
				max-width: 100vw;
				max-height: 100vh;
				transform: translate(-50%, -50%); */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	transition: all 1s;
}
#VAR_controlsid {
	width: 100vw;
	display: block;
	top: 100vh;
	left: 0;
	transform: translate(0, -100%);
	position: fixed;
	height: 32px;
	opacity: 0;
	background: #000000aa;
	transition: all 0.5s;
}
#VAR_playerid.VAR_inactiveControls:not(.VAR_activeControls) {
	cursor: none;
}
#VAR_playerid.VAR_activeControls + #VAR_controlsid.VAR_activeControls {
	opacity: 1;
}
@keyframes playid {
	0% {
		left: -25%;
	}
	100% {
		left: -25%;
	}
}
#VAR_PlayId {
	float: left;
	width: min-content;
	max-width: 50px;
	height: 100%;
	position: relative;
	-webkit-animation: normal playid infinite;
	animation: normal nothing infinite;
}
.playsvga {
	max-width: 50px;
}
.svg-fill {
	fill: #fff;
}
#VAR_PlayId .svg-fill {
	transition: d 0.1s;
}

/* #playsvg {
	transform: translate(0, -4px);
} */

/* Slider CSS */
.slider {
	-webkit-appearance: none;
	height: 6px;
	border-radius: 0;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	left: 0;
	margin: 0 0;
	transition: height 0.5s;
}
.slider:not(#VAR_volumeId):hover {
	height: 8px;
}
.slider:not(#VAR_volumeId):active {
	height: 12px;
}
#VAR_progressId {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 100%;
}
#VAR_volumeId {
	position: absolute;
	left: calc(100vw - 60px);
	top: 50%;
	transform: translate(-100%, -60%);
	width: 100px;
}
#VAR_settings {
	left: calc(100vw - 20px);
	top: 50%;
	transform: translate(-100%, -50%);
	width: 20px;
	height: 20px;
}

.slider:hover {
	opacity: 1;
}

.slider {
	--size: 15px;
	--border: 50%;
	--bg: #04aa6d;
	--cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--size);
	height: var(--size);
	border-radius: var(--border);
	background: var(--bg);
	cursor: var(--cursor);
	border: none;
}

.slider::-moz-range-thumb {
	width: var(--size);
	height: var(--size);
	border-radius: var(--border);
	background: var(--bg);
	cursor: var(--cursor);
	border: none;
}
